1

<div class="buffer-top buffer-bottom">
  <%= link_to 'Добавить', add_personnel_hospital_personnel_path, method: :get, class: 'btn btn-warning' %>
  <%= link_to 'назад', :back %>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <p class="norm-width ">Фамилия: <%= @personnel.surname %></p>
      <p class="norm-width ">Год Рождения: <%= @personnel.year_of_birth %></p>
      <p class="norm-width ">Квалификация: <%= @personnel.position %></p>
    </div>
  </div>
</div>
