<%= form_for @personnel do |f| %>

    <div class="form-group">
      <%= f.label :surname %><br>
      <%= f.text_field :surname %>
    </div>

    <div class="form-group">
      <%= f.label :year_of_birth %><br>
      <%= f.select :year_of_birth, (select_helper_personnel_type(check_year_list)) %>
    </div>

    <div class="form-group">
      <%= f.label :position %><br>
      <%= f.select :position, (select_helper_personnel_type(Personnel::POSITIONS)) %>
    </div>

    <div class="actions buffer-bottom">
      <%= f.submit 'Сохранить', class: 'btn btn-primary' %>

      <% if @personnel.persisted? %>
          <%= link_to 'Удалить сотрудника', personnel_path(@personnel), method: :delete, data: {confirm: 'Действительно ли вы хотите удалить сотрудника?'}, class: 'btn btn-danger' %>
      <% end %>
      или <%= link_to 'вернуться', :back %>
    </div>
<% end %>