<% if current_user_can_edit?(@personnel) %>
    <div class="buffer-top buffer-bottom">
      <%= link_to 'Изменить', edit_personnel_path(@personnel), class: 'btn btn-primary' %>
    </div>
<% end %>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <p class="norm-width ">Фамилия: <%= @personnel.surname %></p>
      <p class="norm-width ">Год Рождения: <%= @personnel.year_of_birth %></p>
      <p class="norm-width ">Квалификация: <%= @personnel.position %></p>
    </div>
  </div>
</div>

<h3>Спиисок рабочих мест</h3>

<div class="row buffer-top">
  <%= render partial: 'hospitals/hospital', collection: @hospitals_list_from_personnel %>
</div>